.unTyped{
    color:rgb(159, 107, 107);
    font-size: 300%;
    font-weight: 100;
    size: 20px 36;
}

.typed {
    color:rgb(239, 3, 3);
    font-size: 210%;
    font-weight: 100;
    size: 20px 36;
}

.container h1{
    display:inline;
    
}