.circle {
    height: 25px;
    width: 25px;
    background-color: rgba(68, 68, 231, 0.897);
    border-radius: 50%;
    display: inline-block;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.bigdiv {
    display:flex;
    flex-direction: row;
    /* text-align: center; */
    justify-content: center;    
}

.bigdiv img {
    width:26%;
    position: absolute;
}

.lefthand {
    position: absolute;
    left: 0%;
    top: 40%;
}

.righthand {
    position: absolute;
    right: 0%;
    top: 40%;
}

/* .info{
    text-align: center;
    font-size: 20;
    font-weight: 400;
    margin:1%;
} */
/* .handsContainer img {
    width:10%;
} */

.righthand {
    /* padding-left:50%; */
}
.lefthand {
    /* padding-right:30%; */
}